/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav{

}

#nav li{
	display: inline-block;
}
#nav .subnav{
	display: none;
	
}




#wrapper{
}
#header {
    width: 100%;
    height: 46px;
    background-color :black;
    color: red;
}
#slider {

}
#content{

}
#footer{

}